<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.dao"/>
    <context:component-scan base-package="org.service"/>

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://db.clverpanda.cn:10130/price_hub?useUnicode=true&amp;characterEncoding=utf-8" />
        <property name="username" value="price_hub_admin" />
        <property name="password" value="a2752%%@!A" />
    </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQLDialect
                </prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="format_sql">true</prop>
                <prop key="hibernate.connection.url">jdbc:mysql://db.clverpanda.cn:10130/price_hub</prop>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
            </props>
        </property>


        <property name="mappingResources">
            <list>
                <value>org/vo/GoodsEntity.hbm.xml</value>
                <value>org/vo/PreferenceEntity.hbm.xml</value>
                <value>org/vo/RemarkEntity.hbm.xml</value>
                <value>org/vo/ReplyEntity.hbm.xml</value>
                <value>org/vo/UserEntity.hbm.xml</value>
                <value>org/vo/FollowEntity.hbm.xml</value>
                <value>org/vo/PreferEntity.hbm.xml</value>
            </list>
        </property>

    </bean>

    <bean id="txManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="signinAction" class="org.action.SignAction"/>
    <bean id="signupAction" class="org.action.SignAction"/>
    <bean id="generalAction" class="org.action.GoodsAction"/>
    <bean id="detailAction" class="org.action.GoodsAction"/>
    <bean id="remarkAction" class="org.action.GoodsAction"/>
    <bean id="followAction" class="org.action.UserAction"/>
    <bean id="viewAction" class="org.action.UserAction"/>
    <bean id="viewFollowAction" class="org.action.UserAction"/>

</beans>